@using WebMatrix.Data

@{
    var id = Request.QueryString["id"];
    var db = Database.Open("BoardGame");

    // define the query to be run
    var sql = "SELECT b.*, c.Category AS categoryName, calc.avgRating, calc.reviewCount FROM BoardGame AS b " +
                "LEFT JOIN GameCategory AS gc ON b.BGGId = gc.BGGId " +
                "LEFT JOIN Category AS c ON gc.Category = c.CategoryID " +
                "LEFT JOIN (SELECT BGGId, AVG(Rating) AS avgRating, COUNT(*) AS reviewCount " +
                "FROM UserRating GROUP BY BGGId) AS calc ON b.BGGId = calc.BGGId WHERE b.BGGId LIKE @0";

    var data = db.QuerySingle(sql, id);

}


        <div class="jumbotron pt-1 pb-1 mt-2">
            <h2 class="text-center">Product Detail</h2>
        </div>


        @if (data != null)
        {
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@data.Name</h5>
                            <div class="card-text">
                                <p class="card-text">@data.Description</p>
                                                               
                                <p class="card-text">
                                    (@(data.reviewCount ?? 0) @(data.reviewCount == 1 ? "Review" : "Reviews"), , Avg @Math.Round(Convert.ToDouble(data.avgRating), 2))
                                </p>                          
                                <div class="text-muted small">
                                    <p class="card-text">Category: @data.categoryName </p>
                                    @if (data.YearPublished != null)
                                    {
                                        <p class="card-text">Year Published: @data.YearPublished</p>
                                    }
                                    <p class="card-text">Game Weight: @Math.Round(Convert.ToDouble(data.GameWeight), 2)</p>
                                    <p class="card-text">Min Players: @data.MinPlayers</p>
                                    <p class="card-text">Max Players: @data.MaxPlayers</p>
                                    @if (data.ComAgeRec != null)
                                    {
                                        <p class="card-text">Age: @Math.Round(Convert.ToDouble(data.ComAgeRec), 0)</p>
                                    }
                                    @if (data.LanguageEase != null)
                                    {
                                        <p class="card-text">Language Ease: @Math.Round(Convert.ToDouble(data.LanguageEase), 0)</p>
                                    }
                                    <p class="card-text">Best Players: @data.BestPlayers</p>
                                    <p class="card-text">Number Owned: @data.NumOwned</p>
                                    <p class="card-text">Number Want: @data.NumWant</p>
                                    <p class="card-text">Number Wish: @data.NumWish</p>
                                    <p class="card-text">Mfg Playtime: @data.MfgPlaytime</p>
                                    <p class="card-text">Com Min Playtime: @data.ComMinPlaytime</p>
                                    <p class="card-text">Com Max Playtime: @data.ComMaxPlaytime</p>
                                    <p class="card-text">Mfg Age Rec: @data.MfgAgeRec</p>
                                    <p class="card-text">Number Alternates: @data.NumAlternates</p>
                                    <p class="card-text">Number Expansions: @data.NumExpansions</p>
                                    <p class="card-text">Number Implementations: @data.NumImplementations</p>
                                    @if (data.Family != null)
                                    { 
                                        <p class="card-text">Family: @data.Family</p>
                                    }
                                    <p class="card-text">Rank in Board Game: @data.RankInboardgame</p>
                                    <p class="card-text">Rank in Strategy Games: @data.RankInstrategygames</p>
                                    <p class="card-text">Rank in Family Games: @data.RankInfamilygames</p>
                                    <p class="card-text">Rank in Thematic: @data.RankInthematic</p>
                                </div>
                            </div>
                        </div>
                   
                        <img class="card-img-bottom w-50" src="@data.ImagePath" alt="@data.Name" style="width: 540px;">
                    </div>
                </div>
            </div>
        }
        else
        {
            <h2 class="text-center text-danger">Ooops - That BoardGame is not available!</h2>
        }
