@using WebMatrix.Data;

@{
    // create and open a connection to the database
    var db = Database.Open("BoardGame");

    // capture the data returned
    var searchText = Request.Form["searchText"];
    var selectedCategory = Request.Form["category"];

    var sql = " ";
    var data = new List<dynamic>();

    var csql = "SELECT CategoryID, Category FROM Category ORDER BY Category ASC;";
    var catData = db.Query(csql);

    if (!String.IsNullOrEmpty(searchText) && !String.IsNullOrEmpty(selectedCategory))
    {
        sql = "SELECT DISTINCT b.* FROM BoardGame AS b " +
        " LEFT JOIN GameCategory AS gc ON b.BGGId = gc.BGGId " +
        "  LEFT JOIN Category AS c ON gc.Category = c.CategoryID " +
        " WHERE Name LIKE CONCAT(@0, '%') AND c.CategoryID LIKE @1 ORDER BY Name ASC";
        data = db.Query(sql, searchText, selectedCategory).ToList();
    }
    else if (!String.IsNullOrEmpty(searchText))
    {
        sql = "SELECT DISTINCT b.* FROM BoardGame WHERE Name LIKE CONCAT(@0, '%')";
        data = db.Query(sql, searchText).ToList();
    }
    else if (!String.IsNullOrEmpty(selectedCategory))
    {
        sql = "SELECT DISTINCT b.* FROM BoardGame AS b " +
            " LEFT JOIN GameCategory AS gc ON b.BGGId = gc.BGGId " +
            "  LEFT JOIN Category AS c ON gc.Category = c.CategoryID " +
            " WHERE c.CategoryID LIKE @0 ORDER BY Name ASC";
        data = db.Query(sql, selectedCategory).ToList();
    }
    else
    {
        sql = "SELECT DISTINCT b.* FROM BoardGame AS b " +
                    " LEFT JOIN GameCategory AS gc ON b.BGGId = gc.BGGId " +
                    "  LEFT JOIN Category AS c ON gc.Category = c.CategoryID " +
                    " ORDER BY Name ASC";
        data = db.Query(sql).ToList();
    }

}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <h1>Board Game</h1>
    <form method="post" action="/Home/Index" class="row py-1 mt-2">
        <div class="col-3">
            <input type="text" name="searchText" class="form-control" placeholder="Search Games" value="@Request.Form["searchText"]" />
        </div>
        <div class="col-3">
            <select id="Category" name="category" class="form-control" >
                <option value="">Search Category</option>
                 @foreach (var row in catData)
                 {
                    <option value="@row.CategoryID" @(selectedCategory == row.CategoryID.ToString() ? "selected" : "")>
                        @row.Category
                    </option>               
                 }
            </select>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-dark" onclick="switchView('table')">Table View</button>
            <button type="button" class="btn btn-outline-dark" onclick="switchView('card')">Card View</button>
        </div>
    </form>
    <div id="tableView" class="view active">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Game Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Year Published</th>
                    <th scope="col">Game Weight</th>
                    <th scope="col">Min Players</th>
                    <th scope="col">Max Players</th>
                    <th scope="col">Age</th>
                    <th scope="col">Language Ease</th>
                    <th scope="col">Best Players</th>
                    <th scope="col">Number Owned</th>
                    <th scope="col">Number Want</th>
                    <th scope="col">Number Wish</th>
                    <th scope="col">Mfg Playtime</th>
                    <th scope="col">Min Playtime</th>
                    <th scope="col">Max Playtime</th>
                    <th scope="col">Mfg Age Rec</th>
                    <th scope="col">Number Alternates</th>
                    <th scope="col">Number Expansions</th>
                    <th scope="col">Number Implementations</th>
                    <th scope="col">Family</th>
                    <th scope="col">Rank in Board Game</th>
                    <th scope="col">Rank in Strategy Games</th>
                    <th scope="col">Rank in Family Games</th>
                    <th scope="col">Rank in Thematic</th>
                    <th scope="col">Game Image</th>
                    <th scope="col">More Details</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @if (data.Count > 0)
                {
                    foreach (var row in data)
                    {
                        <tr>
                            <th scope="row">@row.BGGId</th>
                            <td>@row.Name</td>
                            <td title="@row.Description">
                                @(row.Description.Length > 30 ? row.Description.Substring(0, 50) + "..." : row.Description)
                            </td>
                            <td>@row.YearPublished</td>
                            <td>@Math.Round(Convert.ToDouble(row.GameWeight), 2)</td>
                            <td>@row.MinPlayers</td>
                            <td>@row.MaxPlayers</td>
                            <td>@Math.Round(Convert.ToDouble(row.ComAgeRec), 0)</td>
                            <td>@Math.Round(Convert.ToDouble(row.LanguageEase), 0)</td>
                            <td>@row.BestPlayers</td>
                            <td>@row.NumOwned</td>
                            <td>@row.NumWant</td>
                            <td>@row.NumWish</td>
                            <td>@row.MfgPlaytime</td>
                            <td>@row.ComMinPlaytime</td>
                            <td>@row.ComMaxPlaytime</td>
                            <td>@row.MfgAgeRec</td>
                            <td>@row.NumAlternates</td>
                            <td>@row.NumExpansions</td>
                            <td>@row.NumImplementations</td>
                            <td>@row.Family</td>
                            <td>@row.RankInboardgame</td>
                            <td>@row.RankInstrategygames</td>
                            <td>@row.RankInfamilygames</td>
                            <td>@row.RankInthematic</td>
                            <td><img src="@row.ImagePath" class="img-fluid" alt="@row.Name"></td>
                            <td> <a href="/Home/Details?id=@row.BGGId" class="btn btn-secondary btn-sm">Detail</a></td>
                        </tr>
                    }
                }
                else
                {
                <tr>
                    <td scope="colgroup"><h2 class="text-danger text-center">Oops! No matching Game ...</h2></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="cardView" class="view" >

        @if (data.Count > 0)
        {
            <div class="row justify-content-center">
                @{

                    foreach (var row in data)
                    {
                        <div class="card col-3 m-1">
                            <img src="@row.ImagePath" class="card-img-top" alt="@row.Name">
                            <div class="card-body">
                                <h5 class="card-title">@row.Name</h5>
                                <p class="card-text" title="@row.Description">
                                    @(row.Description.Length > 50 ? row.Description.Substring(0, 50) + "..." : row.Description)
                                </p>
                                <p class="card-text">Year Published: @row.YearPublished</p>
                                <p class="card-text">Game Weight: @Math.Round(Convert.ToDouble(row.GameWeight), 2)</p>
                                <p class="card-text">Min Players: @row.MinPlayers</p>
                                <p class="card-text">Max Players: @row.MaxPlayers</p>
                                <p class="card-text">Age: @Math.Round(Convert.ToDouble(row.ComAgeRec), 0)</p>
                                <p class="card-text">Language Ease: @Math.Round(Convert.ToDouble(row.LanguageEase), 0)</p>
                                <p class="card-text">Best Players: @row.BestPlayers</p>
                                <p class="card-text">Number Owned: @row.NumOwned</p>
                                <p class="card-text">Number Want: @row.NumWant</p>
                                <p class="card-text">Number Wish: @row.NumWish</p>
                                <p class="card-text">Mfg Playtime: @row.MfgPlaytime</p>
                                <p class="card-text">Com Min Playtime: @row.ComMinPlaytime</p>
                                <p class="card-text">Com Max Playtime: @row.ComMaxPlaytime</p>
                                <p class="card-text">Mfg Age Rec: @row.MfgAgeRec</p>
                                <p class="card-text">Number Alternates: @row.NumAlternates</p>
                                <p class="card-text">Number Expansions: @row.NumExpansions</p>
                                <p class="card-text">Number Implementations: @row.NumImplementations</p>
                                <p class="card-text">Family: @row.Family</p>
                                <p class="card-text">Rank in Board Game: @row.RankInboardgame</p>
                                <p class="card-text">Rank in Strategy Games: @row.RankInstrategygames</p>
                                <p class="card-text">Rank in Family Games: @row.RankInfamilygames</p>
                                <p class="card-text">Rank in Thematic: @row.RankInthematic</p>
                                <a href="/Home/Details?id=@row.BGGId" class="btn btn-secondary">View Detail</a>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <h2 class="text-danger text-center">Oops! No matching Game ...</h2>
        }

    </div>
    <script>
        function switchView(view) {
            // Hide all views
            document.getElementById('tableView').classList.remove('active');
            document.getElementById('cardView').classList.remove('active');

            // Show the selected view
            if (view === 'table') {
                document.getElementById('tableView').classList.add('active');
            } else if (view === 'card') {
                document.getElementById('cardView').classList.add('active');
            }
        }
    </script>
</body>
</html>